.clothing {
    display: block;
}

.item {
    display: inline-block;
    width: 200px;
    margin-block: 20px;
    margin-left: 12px;
}

.item .item_image{
    display: block;
    height: 200px;
    width: 200px;

}

.item .item_image img {
    display: block;
    height: 200px;
    width: 200px;

}

.item .item_descript span {
    height: 50px;
    display: block;
}

.item .item_descript span button {
    display: block;
}

