.clothing {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 235px;
    min-height: 20%;
    margin-top: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.item .item_image img {
    background-color: gray;
    border-radius: 10px;
    display: block;
    width: 100%

}

@media all and (max-width: 1500px){
    .item {
        width: 15%;
    }
}

@media all and (max-width: 1000px){
    .item {
        width: 31.2%
    }
}

@media all and (max-width: 750px){
    .item {
        width: 47%
    }
}

@media all and (max-width: 520px){
    .item {
        width: 100%
    }
}
.item .item_stuff {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.item .item_descript #name {
    /* height: 50px; */
    display: block;
    padding-top: 5px;
}

.item .item_descript #category {
    padding-top: 5px;
    height: 20px;
    display: block;
}

.item .item_descript #prices {
    padding-top: 5px;
    height: 20px;
    display: block;
}

.page_conts {
    position: relative;
    height: 40px;
    width: 100%;;
}

.page_btns span {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    bottom: 3px;
}


.page_btns img{
    width: 30px;
    cursor: pointer;
}

.page_btns{
    display: block;
    text-align: center;
}












