.clothing {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: inline-block;
    width: 285px;
    min-height: 440px;
    margin-top: 10px;
    margin-left: 13px;
    border-radius: 2px;
}

.item .item_image{
    display: block;
    height: 285px;
    width: 285px;

}

.item .item_image img {
    background-color: gray;
    border-radius: 10px;
    display: block;
    height: 285px;
    width: 285px;

}

.item .item_stuff {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.item .item_descript #name {
    /* height: 50px; */
    display: block;
    padding-top: 5px;
}

.item .item_descript #category {
    padding-top: 5px;
    height: 20px;
    display: block;
}

.item .item_descript #prices {
    padding-top: 5px;
    height: 20px;
    display: block;
}

.page_conts {
    position: relative;
    align-content: center;
    height: 40px;
    width: 100%;;
}

.page_conts span {
    font-size: 30px;
    top: 6px;
    left: 47.5%;
    position: absolute;
}


.page_btns img{
    width: 30px;
    cursor: pointer;
}

.page_btns .page_btn {
    top: 10px;
    position: absolute;
}

.page_btns #btnL {
    left: 45%
}

.page_btns #btnR {
    right: 45%
}







