.log_in {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.log_in_inner {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
    border-radius: 15px;
    border: 3px solid #000;
    position: relative;
    padding: 300px 200px 300px 200px;
    max-width: 50px;
    background-color: rgb(200, 200, 200);
}

@media all and (max-width: 500px){
    .log_in_inner{
        padding: 300px 35vw 300px 35vw;
    }
}

@media all and (max-width: 400px){
    .log_in_inner {
        padding: 300px 40vw 300px 40vw;
    }
}

@media all and (max-width: 300px){
    .log_in_inner {
        padding: 300px 45vw 300px 45vw;
    }
}
#title_log {
    font-size: 20px;
    top: 60px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#error_msg {
    display: block;
    position: absolute;
    max-width: 100px;
    left: 39.5%;
    bottom: 12%;
    text-align: center;
    color: red;
}

  .log_in_inner #close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 80px;
    padding-bottom: 3px;
    padding-top: 3px;
  }

  .input_auth {
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    
  }