.upper_pannel {
  display: flex;
  justify-content: center;
  background-color: rgb(150, 150, 150);
  height: 50px
}

.pannel_label {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lower_pannel {
  display: flex;
  justify-content: center;
  background-color: rgb(180, 180, 180);
  height: 45px;
}

.pannel_spacing {
  width: 300px;
}

