.profile_data {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center; 
}

.profile_data_inner {
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    display: flex;
    padding: 300px 300px 300px 300px;
    max-width: 640px;
    background-color: #FFF;
}

@media all and (max-width: 650px){
    .profile_data_inner {
        padding: 300px 45vw 300px 45vw;
    }

    #close_profile {
        padding-left: 0px;
        padding-right: 0px;
        width: 10px;
    }
}

#close_profile {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 80px;
    padding-bottom: 3px;
    padding-top: 3px;
}

#edit_profile { 
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.forms {
    background-color: gray;
    color: rgb(260, 260, 260);
    border-radius: 5px;
    position: absolute;
    width: 100%;
    min-height: 310px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;  
}

.forms #user_img {
    border: 2px solid #000;
    left: 10px;
    top: 10px;
    border-radius: 40px;
    width: 120px;
    height: 150px;
}

.forms .data {
    display: flex;
    font-size: 20px;
    padding-bottom: 10px;
}

.forms .title_1 {
    position: relative;
    margin-top: 2px; 
    margin-bottom: 0;   
}

.favorite_items .title_2 {
    margin-top: 6px; 
    margin-left: 10px;   
}

.forms .title_3 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.favorite_items {
    color: rgb(260, 260, 260);
    width: 100%;
    top: 56.5%;
    height: 47.5%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0px;
    background-color:  rgb(160, 160, 160);
    position: absolute;
}

.favorite_items .profile_favorites {
    position: absolute;
    
    top: 40px;
    border-radius: 15px;
    width: 96%;
    left: 2%;
    height: 225px;

    color: black;
    background-color: rgb(228, 228, 228);
}

.pr_item img{
    width: 122.5px;
    border-radius: 15px;
}

.pr_item {
    display: block;
    width: 122.5px;
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 6%;
}

.pr_item_txt {
    font-size: 13px;
    color: black;
}

.pr_item_stuff {
    text-decoration: none;
}

.fav_clothes {
    display: flex;
}

.items_scroll img{
    width: 25px;
    cursor: pointer;
}

.items_scroll #img_1 {
    position: absolute;
    left: 6px;
    top: 46%;
}

.items_scroll #img_2 {
    position: absolute;
    right: 6px;
    top: 46%;
}

@media all and (max-width: 650px) {
    .pr_item img {
        width: 100%
    }

    .pr_item_txt {
        font-size: 12px;
    }

    .items_scroll img{
        width: 15px;
    }
    

    #close_profile {
        width: 45px;
    }
    
}

@media all and (max-width: 650px) {
    .pr_item {
        width: 22%;
    }
}
