.sign_up {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_up_inner {
    border-radius: 15px;
    
    position: relative;
    padding: 300px 200px 300px 200px;
    max-width: 50px;
    background-color: #FFF;
}

.sign_up_inner .close_button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.fields {
    display: flex;
}

.fields .field {
    position: absolute;
    text-align: center;
}

#login_field {
    top: 130px;
    left: 108px;
    width: 200px;
}

#passwrd_field {
    top: 260px;
    left: 108px;
    width: 200px;
}

#passwrd_field_2 {
    top: 390px;
    left: 108px;
    width: 200px;
}

.submit_button {
    position: absolute;
    bottom: 10px;
    left: 158px;
    width: 100px;
    height: 25px;
}

.login_link {
    position: absolute;
    left: 31%;
    bottom: 50px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#title {
    font-size: 30px ;
    top: 50px;
    left: 24%;
    position: absolute;
}

#error_msg {
    display: block;
    position: absolute;
    max-width: 100px;
    left: 39.5%;
    bottom: 12%;
    text-align: center;
    color: red;
}

